button{
   text-align:center
}

treechildren::-moz-tree-checkbox()
{
    /* css for checked cells */
    list-style-image: url("./tree/checkbox_unchecked.ico");
}
treechildren::-moz-tree-checkbox(checked)
{
    /* css for checked cells */
    list-style-image: url("./tree/checkbox_checked.ico");
}

#For backward compatibility
colorfield{
   -moz-binding: url("../bindings/colorfield.xml#colorfield") !important;
}

dialogheader{
   -moz-binding: url("../bindings/dialog.xml#dialogheader") !important;
}

keyinputbox {
    -moz-binding: url("../bindings/keyconfiguration.xml#keyinputbox") !important;
}

shortstringinputbox{
   -moz-binding: url("../bindings/keyconfiguration.xml#shortstringinputbox") !important;
}