@CHARSET "ISO-8859-1";
dialogheader{
   -moz-binding: url("common_bindings.xml#dialogheader") !important;
   background-color:white;
   margin-top:-8px;
   margin-right:-8px;
   margin-bottom: 8px;
   margin-left:-8px;
   padding: 5px 8px;
   border-bottom: 1px inset grey;
}

.dialogheader-title{
   font-weight:bold
}

.dialogheader-message{
 -moz-appearance: none !important;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  overflow: visible;
}

.error-icon{
   background: url("../resources/error.ico") no-repeat;
}

.warning-icon{
   background: url("../resources/warning.ico") no-repeat;
}
