@CHARSET "ISO-8859-1";
colorfield{
   -moz-binding: url("colorfield.xml#colorfield") !important;
}

dialogheader{
   -moz-binding: url("dialog.xml#dialogheader") !important;
}

keyinputbox {
    -moz-binding: url("keyconfiguration.xml#keyinputbox") !important;
}

jseditor{
   -moz-binding: url("editors.xml#jseditor") !important;
}

shortstringinputbox{
   -moz-binding: url("keyconfiguration.xml#shortstringinputbox") !important;
}

xmleditor{
   -moz-binding: url("editors.xml#xmleditor") !important;
}
